<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="edu.cmu.hcii.dacite.plugin.api">
      <internal path="jfreechart-dacite">
      </internal>
   </extension>
   <extension point="edu.cmu.hcii.dacite.plugin.api">
         
      <internal path="jaxp-dacite">
      </internal>
   </extension>
   
   
   <extension point="edu.cmu.hcii.dacite.plugin.api">
      <external>
         <type
               type="com.google.common.collect.Sets">
            <StaticFactory
                  name="newHashSet">
            </StaticFactory>
            <Helper
                  name="union">
               <param
                     type="java.util.Set">
               </param>
               <param
                     type="java.util.Set">
               </param>
            </Helper>
         </type>
         <type
               type="com.google.common.collect.Maps">
            <StaticFactory
                  name="newHashMap">
            </StaticFactory>
         </type>
         <type type="javax.net.SocketFactory">
            <StaticFactory name="getDefault"></StaticFactory>
            <Factory>
               <FactoryMethod
                     name="createSocket"
                     returnType="java.net.Socket">
               </FactoryMethod>
               <FactoryMethod
                     name="createSocket"
                     returnType="java.net.Socket">
                  <param
                        type="java.lang.String">
                  </param>
                  <param
                        type="int">
                  </param>
               </FactoryMethod>
               <FactoryMethod
                     name="createSocket"
                     returnType="java.net.Socket">
                  <param
                        type="java.net.InetAddress">
                  </param>
                  <param
                        type="int">
                  </param>
               </FactoryMethod>
               <FactoryMethod
                     name="createSocket"
                     returnType="java.net.Socket">
                  <param
                        type="java.net.InetAddress">
                  </param>
                  <param
                        type="int">
                  </param>
                  <param
                        type="java.net.InetAddress">
                  </param>
                  <param
                        type="int">
                  </param>
               </FactoryMethod>
               <FactoryMethod
                     name="createSocket"
                     returnType="java.net.Socket">
                  <param
                        type="java.lang.String">
                  </param>
                  <param
                        type="int">
                  </param>
                  <param
                        type="java.net.InetAddress">
                  </param>
                  <param
                        type="int">
                  </param>
               </FactoryMethod>
               factoryType body text
            </Factory>
         </type>
         <type
               type="javax.net.ssl.SSLSocketFactory">
            <StaticFactory
                  name="getDefault">
            </StaticFactory>
            
         </type>
         <type
               type="org.eclipse.jface.fieldassist.ControlDecoration">
            <Parent
                  instanceParam="0">
               <param
                     type="org.eclipse.swt.widgets.Control">
               </param>
               <param
                     type="int">
               </param>
            </Parent>
         </type>
         <type
               type="org.eclipse.swt.widgets.Button">
            <Parent
                  instanceParam="0">
               <param
                     type="org.eclipse.swt.widgets.Composite">
               </param>
               <param
                     type="int">
               </param>
            </Parent>
         </type>
         <type
               type="org.eclipse.swt.widgets.Text">
            <Parent
                  instanceParam="0">
               <param
                     type="org.eclipse.swt.widgets.Composite">
               </param>
               <param
                     type="int">
               </param>
            </Parent>
         </type>
         <type
               type="org.eclipse.swt.widgets.Label">
            <Parent
                  instanceParam="0">
               <param
                     type="org.eclipse.swt.widgets.Composite">
               </param>
               <param
                     type="int">
               </param>
            </Parent>
         </type>
         <type
               type="org.eclipse.swt.widgets.Group">
            <Parent
                  instanceParam="0">
               <param
                     type="org.eclipse.swt.widgets.Composite">
               </param>
               <param
                     type="int">
               </param>
            </Parent>
         </type>
      </external>
   </extension>
</plugin>
